/*==============MAIN-TITLE==============*/

.main-title {
  max-width: 630px;
  margin: 0 auto;
  /* text-align: center; */
}
.main-title .sub-title {
  width: 100%;
  padding: 0 17%;
  margin-bottom: 15px;
}

.main-title .description {
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;
  color: #5a5f68;
}
.main-title .text-title {
  text-align: left;
  color: #737a83;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}
.main-title .title {
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
  color: #434a54;
}

.main-title .text-title::after {
  margin-left: 10px;
  margin-right: 3px;
  content: "";
  width: 54px;
  height: 2px;
  background-color: #ffdd00;
}
.icons:before {
  margin-left: -6px;
  color: #737a83;
}
.text-l {
  text-align: left;
}
