/*==============MAIN-TITLE==============*/

.main-title {
  max-width: 630px;
  margin: 0 auto;
  text-align: center;
}
.main-title .title-wrapper {
  display: inline-block;
  text-align: left;
  margin-bottom: 15px;
}
.main-title .description {
  text-align: center;
  font-size: 18px;
  color: #5a5f68;
}
.main-title .sub-title {
  color: #737a83;
  text-transform: uppercase;
  display: inline-block;
  /* margin-bottom: 0; */
}
.main-title .title {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: 700;
  font-size: 30px;
  color: #434a54;
}

.main-title .sub-title::after {
  margin-left: 10px;
  margin-right: 3px;
  content: "";
  width: 54px;
  height: 2px;
  background-color: #ffdd00;
}
.icons:before {
  margin-left: -6px;
  color: #737a83;
}
.text-c {
  text-align: center;
}
